<div id="wrapper">
	<div class="overlay"></div>
	 
		 <!-- Sidebar -->
	 <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
	  <ul class="nav sidebar-nav">
		<div class="sidebar-header">
		<div class="sidebar-brand">
		    <a href="#">Brand</a></div></div>
		<li><a href="#services">Services</a></li>
		<li><a href="#events">customer Review</a></li>
		<li><a href="#teams">24X7 Support</a></li>
	    <li><a href="#contact">Contact</a></li>
		<li><a href="#followme">Follow me</a></li>

		<li class="dropdown">
			<a href="#works" class="dropdown-toggle"  data-toggle="dropdown">Works <span class="caret"></span></a>
		  <ul class="dropdown-menu animated fadeInLeft" role="menu">
		   <div class="dropdown-header">Dropdown heading</div>
		   <li><a href="#pictures">Pictures</a></li>
		   <li><a href="#videos">Videeos</a></li>
		   <li><a href="#books">Books</a></li>
		   <li><a href="#art">Art</a></li>
		   <li><a href="#awards">Awards</a></li>
		   </ul>
		</li>
	   </ul>
   </nav>
</div>	

	 <!--    Front Page of Server Monitorining -->
	 
		 <div class="frontPage">
			<button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>
		   
			<section class="grey_bg">
				<div class=" d-flex align-items-center">
				  <div class="hero-wrap">
				     <div class="row d-flex flex-md-row ">
				 
				       <div class="col-12 col-lg-6 text-center align-self-center text-lg-left">
				       <h1>Server Monitoring</h1>
						   <p>Monitor your servers and entire infrastructure for critical performance metrics and stay on top of your data center resources. Get in-depth visibility into key performance indicators of application servers, mail servers, web servers, virtual servers, database servers, and more to eliminate outages and server performance issues with our comprehensive server monitoring.</p>
									  <p>With over 60 performance metrics and in-depth inventory reports, start monitoring up to 10 servers for just $9 per month.</p>
				        </div>
				        <div class="col-12 col-sm-12 col-lg-6 col-12-ipad d-flex mx-auto px-5"> 
								   <img src="//img.site24x7static.com/images/server-monitoring.svg" width="100%" height="100%" alt="Server Monitoring" title="Server Monitoring">
				        </div>
				     </div>
				  </div>
				</div>
		    </section>
		 </div>
	 <!--    services Page -->

		<div id="services" class="toggle">
			<button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>
			<section id="content">
				<div class="content-wrap mx-auto">
				  <h2 class="text-center">Complete Infrastructure Monitoring</h2>
					<div class="row">

						<div class="col-12 col-sm-6 p-4">
						  <h3> <img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-windows.svg"> <a href="windows-monitoring.html" title="Windows Monitoring" class="content-wrap__anchor">Windows Monitoring</a> </h3>
						  <p>Gain deep visibility into critical Windows performance metrics like CPU, memory, disk usage, services, processes, & more. Auto-resolve performance and availability issues with <a href="it-automation.html" class="content-wrap__anchor">IT Automation</a>.</p>
						</div>
			  
						<div class="col-12 col-sm-6 p-4">
							<h3><img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-linux.svg"> <a href="linux-monitoring.html" title="Linux Monitoring" class="content-wrap__anchor">Linux Monitoring</a> </h3>
							<p>Get server metrics like load average, thread & handle count of processes, and more from a single console. Whether you're running Debian, SUSE, CentOS or something else entirely — we've you covered.</p>
						</div>
			  
						<div class="col-12 col-sm-6 p-4">
							<h3><img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-ms-apps.svg"><a href="plugins.html#microsoftapps" title="Microsoft Applications Monitoring" class="content-wrap__anchor">Microsoft Applications Monitoring</a></h3>
								<p> Analyze the performance of Microsoft applications like Exchange, IIS, SQL, Windows server backups, SharePoint, Office 365, Active Directory, Failover Cluster, & Hyper-V.</p>
						</div>
			  
						<div class="col-12 col-sm-6 p-4">
							<h3> <img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-plugin.svg"> More than 100 <a href="plugins.html" title="Plugin Integrations" class="content-wrap__anchor">Plugin Integrations</a> </h3>
								<p>Use our ready-to-install plugin integrations like MySQL, Apache, Nagios, or write your own plugin using Python, Shell, PowerShell, Batch, or VB to monitor the data you need. </p>
						</div>
			  
						<div class="col-12 col-sm-6 p-4">
							<h3><img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-vmware-icon.svg"><a href="vmware-monitoring.html" title="VMware Monitoring" class="content-wrap__anchor">Virtualization</a> and <a href="network-monitoring.html" title="Network Monitoring" class="content-wrap__anchor">Network</a> Monitoring</h3>
						<p> Discover and monitor VMware ESX/ESXi hosts, datastores, resource pools, Nutanix environment, and critical network devices in your infrastructure. Track performance of <a href="docker-monitoring.html" title="Docker Monitoring" class="content-wrap__anchor">docker</a> hosts and <a href="kubernetes-monitoring.html" title="Kubernetes Monitoring" class="content-wrap__anchor">Kubernetes</a> clusters from one console.</p>
							</div>

						<div class="col-12 col-sm-6 p-4">
							<h3> <img style="width: 45px; height: 35px; border-radius:0px;" src="//img.site24x7static.com/images/server-msp.svg">
								<a href="msp.html" title="Monitoring for MSPs" class="content-wrap__anchor">Monitoring for MSPs</a></h3>
							<p>Securely manage customer accounts and support their capabilities and endpoints from one place. Promote with a customized logo, URL &amp; utilize individual operational roles to monitor customer accounts. </p>	
						</div>

					</div>  <!-- Row End -->
				</div> <!-- Content wrap -->
			</section> 
		</div> <!-- services -->
		 
		 <!-- 24x7 Supports -->
		 <div id="teams" class="toggle">
			<button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
				<span class="hamb-top"></span>
				<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
			</button>
			
			<div class="content-wrap">
				<h2 class="text-center position-relative">How does the Site24x7 Network Monitoring tool work?<span class="position-absolute" id="how-it-works" style="top: -50px;"></span></h2>
				<p>Site24x7 Network Monitoring is an agentless, Software as a Service (SaaS) network monitoring system that collects data from your network using an On-Premise Poller. This helps monitor both your internal and external networks. The Site24x7 network monitoring tool is SNMP based. You can either specify an IP range or use Classless Inter-Domain Routing (CIDR) to discover the devices in your network. You can mention discovery rules and device and interface filters which help to fine-tune the discovery. Once added, the On-Premise Poller starts to fetch data like traffic, bandwidth, packets, error, discards, and other performance data from your devices.</p>
				<p>You can configure threshold limits for all the key performance metrics at the device and interface level so that you can take corrective measures on any breach, and keep the network performance under control using our cloud network monitoring solution.</p>
				<div class="row justify-content-lg-center">
				  <div class="col-12 col-sm-12 col-lg-10 ">
					<img loading="lazy" src="//img.site24x7static.com/images/network-infographic.svg" alt="What is network monitoring - Site24x7" width="894" height="532" title="Working of a Network Monitoring System">
				  </div>
	  
				</div>
	  
			  </div>
		 </div>	 <!-- Teams end -->
		 
		 <!-- Customer Review -->
		 <div id="events" class="toggle">
			 <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
				 <span class="hamb-top"></span>
				 <span class="hamb-middle"></span>
				 <span class="hamb-bottom"></span>
			 </button>
			 <div class="hero-wrap">
				<h2 class="text-center">Hear it from our customer</h2>
				<div class="card border-0 h-100" style="z-index: 1;">
				  <div class="card-body" style="background-color: #092441;">
					
					<div class="row flex-column flex-column-reverse flex-md-row">
					  <div class="col-12 col-md-8 mb-3 mb-md-0">
						<span class="quote-icon"><svg width="53px" height="44px" viewBox="0 0 53 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						  <title>Quote</title>
						  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="quote1" fill="#33f4bb">
							  <path d="M0.6,22 L0.6,43.6 L22.2,43.6 L22.2,22 L9.8,22 C9.8,15.2 15.3,9.7 22.1,9.7 L22.1,0.4 C10.3,0.4 0.6,10.1 0.6,22 Z M53,9.7 L53,0.4 C41.1,0.4 31.4,10.1 31.4,22 L31.4,43.6 L53,43.6 L53,22 L40.6,22 C40.6,15.2 46.2,9.7 53,9.7 Z" id="Shape"></path>
							</g>
						  </g>
						</svg>
					  </span>
						<blockquote>
						  <p class="mb-0 quote-text-size text-white">We are happy with Site24x7 Support team. The Server monitoring is useful and easy to use. We had a special requirement for bandwidth monitoring and support team quickly developed a plugin for us and integrated to plugin monitoring. With users working from home we can pinpoint issues related to bandwidth and device performance.</p>
						</blockquote>
						<div class="d-flex align-items-center mb-3"> 
						 
						  <div>
							<span class="author-name text-white">-Rohit Ghadge,</span>
							<span class="author-designation d-block text-white">Manager - Technical Support, Asia, IQ-EQ</span>
						  </div>
						</div>
					  </div>
					  <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-3">
						<img loading="lazy" src="//img.site24x7static.com/images/iq-eq-logo.svg" alt="IQ-EQ logo" width="160" height="80" >
					  </div>
					</div>
				  </div>
				  <span class="dot-pattern dot-pattern-left"></span>
				</div>
		</div>
		 <!-- /#page-content-wrapper -->
 				 
	 </div>
	 <!-- /#wrapper -->